/*
 * -------------------------------------------------
 *  Nextflow config file for running on AWS batch
 * -------------------------------------------------
 * Base config needed for running with -profile awsbatch
 */
params {
  config_profile_name = 'AWSBATCH'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'srinivasarao A (@asrini)'
  config_profile_url = 'https://aws.amazon.com/de/batch/'
}

aws.region = us-east-1
process.executor = 'awsbatch'
process.queue = 'NFS-Batch-Queue'
process.container = 'job-definition/NFS-Batch-Definition:2
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'
